@font-face {
  font-family: "Norse-Bold";
  src: url("fonts/Norse-Bold.otf");
}

/* LEFT SECTION */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  font-family: "Roboto";
}

.side-image-panel {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 1440px;
  width: 40vw;
  background: url(img/photo-1585202900225-6d3ac20a6962.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 210px;
  font-size: 8.5em;
  top: 320px;
}

.logo > img {
  height: 180px;
}

.title {
  font-family: "Norse-Bold", sans-serif;
}

.credit {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
}

.credit > a {
  color: white;
}

/* RIGHT SECTION */

.input-panel {
  background-color: whitesmoke;
  width: 60vw;
  font-size: 2em;
}

.hook {
  margin: 28vh 170px 90px 70px;
  font-weight: bold;
}

.hook * {
  margin-bottom: 30px;
}

.sign-up {
  font-weight: bold;
  color: rgb(31, 31, 51);
  background-color: white;
  padding-block: 1em;
  padding-left: 2.5em;
  box-shadow: 0px 3px 10px rgb(150, 150, 150);
  height: 350px;
}

.sign-up > p {
  margin-bottom: 1em;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 3em 7em;
}

.inputs > div {
  display: flex;
  flex-direction: column;
}

div > input {
  width: 330px;
  height: 40px;
}

#create-account {
  margin-left: 70px;
}

#create-account > button {
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  border: 0;
  color: white;
  background-color: #596d48;
  height: 70px;
  width: 300px;
  margin-block: 40px;
  box-shadow: 0px 3px 10px rgb(150, 150, 150);
}

#create-account > p {
  font-size: 23px;
}

#login {
  text-decoration: none;
  font-weight: bold;
  color: #596d48;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  position: relative;
}

input:focus {
  outline: 2px solid #3c7dff;
  box-shadow: 0px 3px 10px rgb(148, 148, 148);
}

.error {
  outline: 2px solid #ff3c3c;
}

.error + span:after {
  position: absolute;
  content: "* Passwords do not match";
  color: #ff3c3c;
  width: 200px;
  height: 100px;
  transform: translateY(5%);
}

@media only screen and (max-width: 1500px) {
  .hook {
    margin-top: 20vh;
  }
  .sign-up {
    height: 650px;
  }
}

@media only screen and (max-width: 1200px) {
  .hook {
    margin-top: 5vh;
    font-size: 1em;
  }
}
